<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>977043608077-fo5tf1h2c34ahvjhvh4gkrarlqsqfno0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977043608077-fo5tf1h2c34ahvjhvh4gkrarlqsqfno0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>977043608077-56ismo524ptnv7ho91hv01edlg7dkhgi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDe2k_vfpFqtTBFG4zpw6uvHv8ExF2Ddao</string>
	<key>GCM_SENDER_ID</key>
	<string>977043608077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bfnanchor.app</string>
	<key>PROJECT_ID</key>
	<string>bfn-mobile-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>bfn-mobile-backend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977043608077:ios:283d4f8787f5ebc4f07b44</string>
	<key>DATABASE_URL</key>
	<string>https://bfn-mobile-backend.firebaseio.com</string>
</dict>
</plist>