dockerbuild/bfn.json
dockerbuild/clients-0.1.jar
build/
contracts/build
contracts/logs
workflows/build
workflows/logs
clients/build
clients/logs
clients/src/main/resources/application-prod.properties
clients/src/main/resources/prod-nodes.json
/clients/out/
.gradle/
.idea/
logs/